## The following requirements were added by pip freeze:
certifi==2018.8.24
eventregistry==8.5.0
Flask==1.0.2
Flask-Cors==3.0.6
ipykernel==4.9.0
ipython==6.5.0
ipython-genutils==0.2.0
jsonschema==2.6.0
jupyter-client==5.2.3
jupyter-core==4.4.0
jupyter-http-over-ws==0.0.1a3
matplotlib==3.0.0
nbconvert==5.4.0
nltk==3.3
notebook==5.7.0
numpy==1.15.1
pandas==0.23.4
pandas-ml==0.5.0
pandocfilters==1.4.2
pickleshare==0.7.4
qtconsole==4.4.1
requests==2.19.1
requests-oauthlib==1.0.0
scikit-learn==0.19.2
scipy==1.1.0
sklearn==0.0
statistics==1.0.3.5
statsmodels==0.9.0
tweepy==3.6.0
urllib3==1.23
webhoseio==0.5